<h1>{{storeInfoClass.name}}</h1>

<table class="table text-center align-items-center mb-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Img</th>
      <th scope="col">CateogryID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productList">
      <td>{{item.ID}}</td>
      <td>{{item.Name}}</td>
      <td>{{item.Quantity}}</td>
      <td>{{item.Price}}</td>
      <td><img width="20%" [src]="item.Img"></td>
      <td>{{item.CateogryID}}</td>
      <td><button class="btn btn-success" [disabled]="item.Quantity==0">Buy</button></td>
    </tr>
  </tbody>
</table>


<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
          <img src="{{storeInfoClass.logo}}" *ngIf="showImage" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{storeInfoClass.name}}</h5>
            <h6 class="card-title text-danger" *ngIf="showMsg">{{clientName}}</h6>
            <ul>
              <li *ngFor="let i of storeInfoClass.branches">{{i}}</li>
            </ul>
            <button class="btn btn-success" (click)="toggleImage()" (click)="toggleMsg()">Buy</button>
          </div>
        </div>
    </div>
  </div>
</div>