<!-- <button class="btn btn-danger" (click)="addNewProduct()">Add New Product</button> -->


<form #newProductForm="ngForm" (ngSubmit)="addNewProduct()">
    <div class="mb-3">
      <label for="newProductName" class="form-label">Product Name</label>
      <input #newProductNameInput="ngModel"  type="text" class="form-control" name="newProductName"
            id="newProductName" [(ngModel)]="newProduct.Name" required pattern="[A-Za-z]{3,10}">
          <div class="alert alert-danger" [hidden]="newProductNameInput.valid || newProductNameInput.untouched">
              <small *ngIf="newProductNameInput.errors?.['required']">
                  Product Name is required 
              </small>
              <small *ngIf="newProductNameInput.errors?.['pattern']">
                  Product Name must be 3 letters at least
              </small>
          </div>
    </div>
     
    <div class="mb-3">
      <label for="newProductQuant" class="form-label">Quantity</label>
      <input type="number"
        class="form-control" name="newProductQuant" id="newProductQuant" required  [(ngModel)]="newProduct.Quantity">
    </div>
   
    <div class="mb-3">
      <label for="newProductPrc" class="form-label">Price</label>
      <input type="number" class="form-control" name="newProductPrc" id="newProductPrc" required  [(ngModel)]="newProduct.Price">
    </div>
   
    <div class="mb-3">
      <label for="newProductCat" class="form-label">Select Category</label>
      <select class="form-control"
         name="newProductCat" id="newProductCat" required  [(ngModel)]="newProduct.CateogryID">
        <option *ngFor="let cat of catList" [value]="cat.ID">
            {{cat.Name}}
        </option>
      </select>
    </div>
   
   
    <button type="submit" class="btn btn-success" [disabled]="newProductForm.invalid">Add New Product</button>
   </form>
   


   <!-- <hr> -->
   <!-- <div class="bg-warning"> -->
    <!-- <h2>{{newnewProduct | json}}</h2> -->
    <!-- <h2>{{newProductNameInput.className | json}}</h2> -->
    <!-- <h2>{{newProductNameInput.errors | json}}</h2> -->

   <!-- </div> -->